* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: darkslategray;
    text-decoration: none;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 1fr 0.1fr;
}
header h1 {
   font-size: 18px;
   
   
} 
.category-product-title {
    width: 220px;
    height: 10px;
    margin-left: 10px;
}
.category-product-info-dimensions, .category-product-info-features h3, h3{
    margin-bottom: 10px;
    margin-top: 50px;
}
.category-product-finance{
    padding: 10px;
}
.category-product-finance-price , .category-product-info-stock{
    margin: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.category-product-info-stock label {
    border: 1px solid #825d5d;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
button{
    margin: 10px;
    width: 120px;
    height: 30px;
}

header a {
    color: white;
}

#search {
    display: flex;
}
.category-product-image-container img{
    margin-right: 40px;
    width: 400px;
    margin-top: 20px;
}
#search input {
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}
article {
    display: flex;
    
}
#headerHomeIcon {
    justify-self: start;
}

#headerTitle {
    justify-self: center;
}

#headerCartIcon {
    justify-self: end;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
    
}

/* Style the navigation menu */
nav {
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.1;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

nav ul li {
    padding-bottom: 5px;
}

nav ul li:hover {
    color: blue;
}

main {
   display: flex;
   padding-top: 20px;
   flex-direction: column;
   
}


/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
